<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Image Show Item</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <% for(let i=0; i<item.imageId.length; i++) { %>
                <div class="col-md-3 mb-5">
                    <img src="http://localhost:3000/<%= item.imageId[i].imageUrl %>" class="w-100" alt="">
                </div>
            <% } %>
        </div>
        <a href="/admin/item" class="btn btn-warning">Back</a>
    </div>
</div>