<!-- Modal -->
<div class="modal fade" id="editModalFeature" tabindex="-1" role="dialog" aria-labelledby="editModalFeatureLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form action="/admin/item/edit/feature?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalFeatureLabel">Edit Feature</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="id" name="id">
                    <input type="hidden" name="itemId" value="<%= itemId %>">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control name" id="name" placeholder="Input name" required>
                    </div>
                    <div class="form-group">
                        <label for="qty">QTY</label>
                        <input type="text" name="qty" class="form-control qty" id="qty" placeholder="Input quantity" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <input type="file" name="image" class="form-control" id="image" placeholder="Input image">
                        <span>Pilih gambar untuk update image</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>